@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Aplicación de películas (MVC)</h1>
    <h3>Integrantes: Billy Aizpurúa y Yexi Cortez</h3>
    <img src="https://www.bernersennen.net/wp-content/uploads/2019/07/free-movie-streaming-sites.jpg" >
    <p>En esta experiencia utilizando ASP.NET Core MVC, adquirimos el conocimiento para el <br />
    desarrollo de una página web que trabaja en conjunto con una base de datos, donde aprendimos <br /> 
    a como conectarla para el almacenamiento de los datos. Así mismo, vimos como integrar una barra <br />
    de búsqueda con filtros y la validación de los mismos.</p>
</div>


